{% extends 'layout.html.twig' %}

{% block body %}
    <a href="{{path('teams')}}">
        <div>
            <i class="ti ti-shirt"></i>
            <h3>Equipos</h3>
        </div>
    </a>
{% endblock %}