{% extends 'layout.html.twig' %}

{% block title %} Inicio de sesi칩n{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/login.css') }}">
{% endblock %}

{% block header %}{% endblock %}

{% block body %}
<div class="contenedor">
    <div>
        <div>
            <h1 class="titulo">School League Management</h1>
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <div class="contenedor-arriba">
                            <img src="{{ asset('img/ligaescolar-logo.png') }}" alt="SLM" class="logo">
                            <h1 class="inicio-sesion">Iniciar sesi칩n</h1>
                        </div>
                        {% if error %}
                            <p class="error">{{ error.messageKey|trans(error.messageData, 'security')}}</p>
                        {% endif %}
                        <div class="form-input">
                            <label for="_username">Usuario</label>
                            <input type="text" {% if error %} value="{{ last_username }}" {% endif %} name="_username" class="form-control" placeholder="Usuario" required {% if not error %} autofocus {% endif %}>
                        </div>
                        <div class="form-input">
                            <label for="_password">Contrase침a</label>
                            <input type="password" name="_password" class="form-control" placeholder="Contrase침a" {% if error %} autofocus {% endif %}>
                        </div>
                        <div class="form-input">
                            <button type="submit" class="boton boton-block">Entrar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
