{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="contenedor-entrada">
        <h2 class="h2-main">Bienvenido a School League Management</h2>
        <h3 class="h3-main">Selecciona la acción que quieres realizar</h3>
    </div>
    <div class="contenedor">
        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
            <div class="card">
                {% include 'team/teamcard.html.twig' %}
            </div>
            <div class="card">
                {% include 'sport/sportcard.html.twig' %}
            </div>
            <div class="card">
                {% include 'person/personcard.html.twig' %}
            </div>
            <div class="card">
                {% include 'match/matchcard.html.twig' %}
            </div>
            <div class="card">
                {% include 'season/seasoncard.html.twig' %}
            </div>
        {% else %}
            <div class="card">
                {% include 'team/teamcard.html.twig' %}
            </div>
            <div class="card">
                {% include 'sport/sportcard.html.twig' %}
            </div>
            <div class="card">
                {% include 'match/matchcard.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}