{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="contenedor-entrada">
        <h2 class="h2-main">Bienvenido a School League Management</h2>
        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
            <h3 class="h3-main">Selecciona el apartado que quieres gestionar</h3>
        {% else %}
            <h3 class="h3-main">Selecciona el apartado que quieres visualizar</h3>
        {% endif %}
    </div>
    <div class="contenedor">
        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
            {% include 'team/teamcard.html.twig' %}
            {% include 'sport/sportcard.html.twig' %}
            {% include 'person/personcard.html.twig' %}
            {% include 'match/matchcard.html.twig' %}
            {% include 'season/seasoncard.html.twig' %}
            {% include 'user/usercard.html.twig' %}
            {% include 'ranking/rankingcard.html.twig' %}
            {% include 'generate/generatecard.html.twig' %}
        {% else %}
            {% include 'team/teamcard.html.twig' %}
            {% include 'sport/sportcard.html.twig' %}
            {% include 'person/personcard.html.twig' %}
            {% include 'match/matchcard.html.twig' %}
            {% include 'season/seasoncard.html.twig' %}
            {% include 'ranking/rankingcard.html.twig' %}
        {% endif %}
    </div>
{% endblock %}