{% extends 'base.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@tabler/icons-webfont@latest/dist/tabler-icons.min.css" />
{% endblock %}

{% block header %}
    {% include 'navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div>
        {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN')%}
            <div>
                {% include 'team/teamcard.html.twig' %}
                {% include 'sport/sportcard.html.twig' %}
                {% include 'person/personcard.html.twig' %}
                {% include 'match/matchcard.html.twig' %}
                {% include 'season/seasoncard.html.twig' %}
            </div>
        {% else %}
            <div>
                {% include 'team/teamcard.html.twig' %}
                {% include 'sport/sportcard.html.twig' %}
                {% include 'match/matchcard.html.twig' %}
            </div>
        {% endif %}
    </div>
{% endblock %}