@font-face {
    font-family: 'Jost-Regular';
    src: url("../fonts/Jost/static/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-SemiBold700';
    src: url("../fonts/Jost/static/Jost-Medium.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-ExtraLight';
    src: url("../fonts/Jost/static/Jost-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-Light';
    src: url("../fonts/Jost/static/Jost-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #ffffff;
    margin: 100px 0 100px 0;
    padding: 0;
}

/*CABECERA, INPUT BUSCAR Y BOTON DE AGREGAR*/
.cabecera-crud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-top: 8rem;
}

.h2-titulo {
    font-family: 'Jost-Medium', sans-serif;
    color: #00001B;
    font-size: 2rem;
    margin-left: 6rem;
    text-shadow: 1px 2px 2px #b8b8b8;
}

.contenedor-derecha {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.contenedor-jugador-deporte{
    width: 10rem;
    color: #00001B;
    font-family: 'Jost-SemiBold700', sans-serif;
    text-align: center;
    margin-right: 4rem;
    font-size: 1.2rem;
    border-radius: 8px;
    padding: 0.5rem;
    text-shadow: 1px 2px 2px #b8b8b8;
}

.contenedor-search,
.contenedor-oculto,
.contenedor-agregar,
.contenedor-search-players{
    display: flex;
    border-radius: 5px;
    margin-right: 1.2rem;
    align-items: center;
    height: 50px;
}

.contenedor-search-players{
    margin-right: 4rem;
}

.contenedor-search form,
.contenedor-search-players form{
    display: flex;
    width: 100%;
}

.input-buscar {
    flex-grow: 1;
    font-family: Jost-Light, sans-serif;
    font-size: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-right: none;
    background-color: white;
    border-radius: 8px 0 0 8px;
    padding: 10px;
    height: 50px;
    outline: none;
    color: #00001B;
    box-sizing: border-box;
}

.contenedor-usuario {
    display: flex;
    border-radius: 5px;
    margin-right: 4rem;
}

.boton-buscar{
    background-color: rgba(200, 20, 13, 0.7);
    text-align: center;
    color: #00001B;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.20);
    border-left: none;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.boton-buscar {
    width: 60px;
    border-left: none;
}

.boton-agregar {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(200, 20, 13, 0.7);
    text-align: center;
    color: white;
    cursor: pointer;
    box-sizing: border-box;
    height: 50px;
    font-family: 'Jost-Light', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 3rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    padding: 0 10px;
    border-radius: 8px;
}

.boton-agregar:hover{
    background-color: #992a25;
    transform: scale(1.03);
    transition-property: all;
    transition-duration: 0.2s;
}

/*CONTENEDOR DESPLEGABLE*/
.contenedor-expandir {
    background-color: #992a25;
    margin: 0.5rem 7rem;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87);
    box-sizing: border-box;
    overflow: hidden;
    flex-direction: column;
}

.expandible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 8px;
    overflow: hidden;
}

.contenedor-persona{
    margin-left: 2rem;
    margin-top: 0.5rem;
}

.p-rol{
    opacity: 0.5;
    font-family: 'Jost-Light', sans-serif;
}

.iconos {
    margin-top: 1rem;
    display: flex;
    align-items: center;
}

.boton {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.a-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: white;
    padding: 1rem;
    border-radius: 8px;
    font-family: 'Jost-Regular', sans-serif;
    font-size: 1.7rem;
    color: black;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.desplegar {
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
}

.contenedor-desplegable {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.contenedor-desplegable.expanded {
    background-color: #992a25;
    max-height: 20rem;
}

.contenedor-informacion-desplegable {
    display: flex;
    flex-wrap: wrap;
}

.informacion {
    background-color: rgb(97, 0, 0);
    flex: 1 1 calc(40% - 10px);
    margin: 0rem 1rem 1rem 1rem;
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: white;
    font-family: 'Arial', sans-serif;
}

.informacion h3 {
    margin-top: 0;
    font-family: 'Jost-Medium', sans-serif;
    font-size: 1.3rem;
}

.informacion p {
    margin: 0.5rem 0;
    font-family: 'Jost-SemiBold', sans-serif;
    font-size: 1rem;
}

.contenedor-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    margin-top: 4rem;
    flex-wrap: wrap;
}

.volver {
    display: flex;
    align-items: center;
    height: 50px;
}

.volver{
    margin-left: 6rem;
}

.boton-volver {
    border-radius: 8px;
    background-color: rgba(200, 20, 13, 0.7);
    text-align: center;
    color: white;
    font-family: 'Jost-Light', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 51px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
    margin-right: auto;
    box-sizing: border-box;
}

.boton-volver:hover{
    transform: scale(1.03);
    transition-property: all;
    transition-duration: 0.2s;
}

/*SWEET ALERT*/
.titulo-sweet{
    color: #00001B;
    font-family: Jost-SemiBold, sans-serif;
}

/*MENSAJES DE ERROR EN LOS FORMULARIOS*/
.contenedor-warning {
    font-family: Jost-ExtraLight, sans-serif;
    font-size: 1.2rem;
    margin-top: 1rem;
    color: yellow;
}

.warning {
    display: flex;
    align-items: center;
}

.contenedor-warning {
    margin-top: 1rem;
    color: red;
    font-size: 0.9rem;
}

.warning i {
    margin-right: 5px;
}

.icono-warning{
    font-size: 1.8rem;
}

/*PAGINACIÓN*/
.navigation {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-left: -15rem;
    list-style: none;
    padding: 0;
}

.pagination a, .pagination span {
    display: block;
    padding: 10px ;
    margin-right: 0.5rem;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    text-align: center;
    transition: background-color 0.3s ease, color 0.3s ease;
    font-family: 'Arial', sans-serif;
    background-color: #992a25;
    width: 50px;
}

.pagination span{
    font-size: 1rem;
    font-family: 'Jost-Medium', sans-serif;
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.5);
}

.pagination span:hover{
    transform: scale(1.07);
    background-color: #992a25;
}

.pagination a{
    margin-left: 0.7rem;
    font-size: 1rem;
    font-family: 'Jost-Medium', sans-serif;
    width: 10px;
    border: none;
}
