a{
    text-decoration: none;
}

.card {
    background-color: #992a25;
    font-family: 'Jost-ExtraLight', sans-serif;
    border-radius: 8px;
    text-decoration: none;
    width: 400px;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    box-shadow: inset 1px 1px 5px 0px rgba(0,0,0,0.52);
}

.card:hover {
    transform: scale(1.03);
    transition-property: all;
    transition-duration: 0.3s;
}

.card i {
    font-size: 7.5rem;
    color: white;
}

.card h3 {
    background-color: rgba(97, 0, 0, 0.3);
    margin-top: 0.4rem;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    color: white;
}