@font-face {
    font-family: 'Jost-Regular';
    src: url("../fonts/Jost/static/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-SemiBold700';
    src: url("../fonts/Jost/static/Jost-Medium.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-ExtraLight';
    src: url("../fonts/Jost/static/Jost-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-Light';
    src: url("../fonts/Jost/static/Jost-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #ffffff;
    margin: 100px 0 100px 0;
    padding: 0;
}

/*CABECERA, INPUT BUSCAR Y BOTON DE AGREGAR*/
.cabecera-crud {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.h2-titulo {
    font-family: 'Jost-Medium', sans-serif;
    color: #00001B;
    font-size: 2.5rem;
    margin-left: 6rem;
}

.contenedor-derecha {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.contenedor-search {
    display: flex;
    border-radius: 5px;
    margin-right: 1.2rem;
}

.contenedor-search form {
    display: flex;
    width: 100%;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}

.input-buscar {
    flex-grow: 1;
    font-family: Jost-Light, sans-serif;
    font-size: 1rem;
    border: 3px solid #992a25;
    border-right: none;
    background-color: white;
    padding: 5px;
    height: 50px;
    outline: none;
    color: #00001B;
}

.boton-buscar {
    width: 60px;
    height: 65.5px;
    border: 3px solid #992a25;
    border-left: none;
    background-color: #fbe9e7;
    text-align: center;
    color: #00001B;
    cursor: pointer;
}

.boton-agregar {
    font-family: 'Jost-Light', sans-serif;
    background-color: #fbe9e7;
    border: 3px solid #992a25;
    font-size: 1.5rem;
    color: #00001B;
    text-decoration: none;
    padding: 0.8rem;
    margin-right: 4rem;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}




/*BOTONES DE ACCIONES*/

.a-botones{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #fbe9e7;
    padding: 1rem;
    border-radius: 8px;
    font-family: 'Jost-Regular', sans-serif;
    font-size: 1.7rem;
    color: black;
    -webkit-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,1);
}



/*CONTENEDOR DESPLEGABLE*/
.contenedor-expandir {
    background-color: #992a25;
    margin: 0.5rem 7rem;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.87);
}

.expandible {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: white;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
    box-sizing: border-box;
    border-radius: 8px;
}

.iconos {
    display: flex;
    align-items: center;
}

.boton {
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}

.desplegar{
    cursor: pointer;
    margin-right: 10px;
    padding: 5px;
}

.contenedor-desplegable {
    max-height: 0;
    overflow: hidden;
}

.contenedor-desplegable.expanded {
    background-color: #992a25;
    max-height: 500px;
    padding: 15px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.contenedor-informacion-desplegable{
    display: flex;
    /*flex-direction: column;*/
    flex-wrap: wrap;
    gap: 5px;
}

.informacion {
    border-radius: 8px;
    background-color: rgb(97, 0, 0);
    flex: 1 1 calc(25% - 10px);
}

.informacion h3 {
    font-family: 'Jost-Medium',sans-serif;
    font-size: 1.5rem;
    margin-left: 10px;
    color: white;
}

.informacion p {
    font-family: 'Jost-SemiBold', sans-serif;
    font-size: 1.2rem;
    margin-left: 10px;
    color: white;
}



/*SWEET ALERT*/
.btn-sweet{
    background-color: #00A0F4 !important;
    font-family: Jost-Medium, sans-serif;
    color: white !important;
    box-shadow: none !important;
}

.titulo-sweet{
    color: #00001B;
    font-family: Jost-SemiBold, sans-serif;
}