a{
    text-decoration: none;
}

.card {
    background-color: #992a25;
    font-family: 'Jost-ExtraLight', sans-serif;
    border-radius: 8px;
    text-decoration: none;
    width: 400px;
    box-sizing: border-box;
    text-align: center;
    -webkit-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.7);
    -moz-box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.7);
    box-shadow: 1px 3px 5px 0px rgba(0,0,0,0.7);
}

.card:hover {
    transform: scale(1.03);
    transition-property: all;
    transition-duration: 0.3s;
}

.card i {
    font-size: 7.5rem;
    color: white;
}

.card h3 {
    background-color: rgb(97, 0, 0);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 0;
    padding: 10px 0 10px 0;
    font-size: 1.5rem;
    color: white;
    -webkit-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.5);
}