@font-face {
    font-family: 'Jost-Regular';
    src: url("../fonts/Jost/static/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-SemiBold700';
    src: url("../fonts/Jost/static/Jost-Medium.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-ExtraLight';
    src: url("../fonts/Jost/static/Jost-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-Light';
    src: url("../fonts/Jost/static/Jost-Light.ttf");
    font-weight: 300;
    font-style: normal;
}


body {
    background-color: #ffffff;
    margin: 100px 0 100px 0;
    padding: 0;
}

.contenedor {
    padding: 0.5rem;
}

.contenedor-cabecera {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin-left: 6rem;
    margin-right: 6rem;
}

.titulo-form {
    font-size: 2.5rem;
    color: #00001B;
    font-family: 'Jost-SemiBold', sans-serif;
}

.volver{
    display: flex;
    align-items: center;
    height: 50px;
}

.boton-volver {
    border-radius: 8px;
    background-color: deepskyblue;
    text-align: center;
    color: white;
    margin: 8rem 0 0 1rem;
    font-family: 'Jost-Light', sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.icono-cancelar {
    padding-top: 20px;
    font-size: 1.5rem;
}

.contenedor-form {
    color: white;
    font-family: 'Jost-Medium', sans-serif;
    margin: 0.5rem 7rem;
    background-color: #992a25;
    padding: 2rem;
    border-radius: 8px;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.form-label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #ffffff;
}

.form-input{
    width: 98.5%;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ffffff;
    border-radius: 8px;
    font-size: 1rem;
    font-family: 'Jost-Regular', sans-serif;
    -webkit-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
}

.form-select{
    width: 97%;
    border-radius: 8px;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ffffff;
    font-size: 1rem;
    font-family: 'Jost-Regular', sans-serif;
    -webkit-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
}

.form-checkbox {
    width: 15px;
    height: 15px;
    transform: scale(1.6);
}

.form-select-deporte{
    width: 99.8%;
    border-radius: 8px;
    padding: 0.6rem;
    margin-bottom: 1.5rem;
    border: 1px solid #ffffff;
    font-size: 1rem;
    font-family: 'Jost-Regular', sans-serif;
    -webkit-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
}

.form-input:focus,
.form-select:focus {
    border-color: rgba(55, 0, 0, 0.82);;
    outline: none;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.choices__inner {
    width: 100%;
    box-sizing: border-box; /* Asegura que el padding y border se incluyan en el width */
    border: 1px solid #ffffff;
    font-size: 1rem;
    font-family: 'Jost-Regular', sans-serif;
    -webkit-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 21px -6px rgba(0,0,0,0.75);
}

.choices__list--dropdown {
    width: 100%;
    box-sizing: border-box;
    background-color: #992a25;
    border: 1px solid #ffffff;
    box-shadow: 2px 2px 21px -6px rgba(0, 0, 0, 0.75);
    font-family: 'Jost-Regular', sans-serif;
    color: white;
}

.choices__inner:active{
    width: 98.5%;
}

.choices__list--multiple .choices__item {
    background-color: #992a25;
    border: 1px solid black;
    font-family: Jost-Regular, sans-serif;
    border-radius: 8px;
    color: white;
}

.choices__item--selectable {
    background-color: #992a25;
    color: white;
    padding: 0.5rem;
    margin: 0.25rem;
    border-radius: 8px;
}

.choices__item--selectable:hover{
    background-color: red;
    color: #00001B;
}

.btn-guardar-form {
    padding: 0.7rem 2rem;
    border-radius: 8px;
    margin-top: 2.5rem;
    background-color: blue;
    border: none;
    color: white;
    font-family: 'Jost-Regular', sans-serif;
    font-size: 1.5rem;
    cursor: pointer;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.btn-guardar-form:hover {
    transform: scale(1.03);
    transition-property: all;
    transition-duration: 0.2s;
}
