@font-face {
    font-family: 'Jost-Regular';
    src: url("../fonts/Jost/static/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-SemiBold700';
    src: url("../fonts/Jost/static/Jost-Medium.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-ExtraLight';
    src: url("../fonts/Jost/static/Jost-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-Light';
    src: url("../fonts/Jost/static/Jost-Light.ttf");
    font-weight: 300;
    font-style: normal;
}

body {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: rgb(97, 0, 0);
    border-radius: 8px;
    padding: 20px;
    width: 500px;
    max-width: 500px;
}

.card-body {
    padding: 30px;
    border-radius: 8px;
}

.contenedor-arriba{
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-usuario,
.text-password{
    text-align: center;
    font-size: 1.2rem;
}

.titulo{
    color: #00001B;
    font-family: 'Jost-Medium',sans-serif;
    text-align: center;
    font-size: 2.3rem;
}

.logo{
    max-width: 30%;
    height: auto;
    margin-right: 20px;
}

.inicio-sesion{
    font-family: 'Jost-SemiBold', sans-serif;
    flex: 0 0 70%;
    text-align: left;
    color: white;
    font-size: 2.3rem;
}

.form-input {
    font-family: 'Jost-Regular', sans-serif;
    margin-bottom: 30px;
    color: white;
}

.form-control {
    font-family: 'Jost-Medium', sans-serif;
    width: 418px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid white;
    background-color: white;
    color: black;
    -webkit-box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
    box-shadow: 0px 0px 7px 0px rgba(255,255,255,1);
}

.form-control:focus {
    outline: none;
    border: 1px solid #c8140d;
}

.boton {
    margin-top: 70px;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    background-color: #a17270;
    font-size: 1.3rem;
    font-weight: bold;
}

.boton:hover {
    background-color: #ff4740;
}

.boton-block {
    display: block;
    width: 100%;
}

.error {
    font-family: 'Jost-Regular', sans-serif;
    font-weight: bold;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    background-color: white;
    color: red;
}

