@font-face {
    font-family: 'Lato-Regular';
    src: url("../fonts/Lato/Lato-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url("../fonts/Lato/Lato-Light.ttf");
    font-weight: 200;
    font-style: normal;
}

body {
    margin: 0;
    padding: 0;
    background-color: #ffe0df;
}