@font-face {
    font-family: 'Jost-Regular';
    src: url("../fonts/Jost/static/Jost-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-SemiBold700';
    src: url("../fonts/Jost/static/Jost-Medium.ttf");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Jost-ExtraLight';
    src: url("../fonts/Jost/static/Jost-ExtraLight.ttf");
    font-weight: 200;
    font-style: normal;
}

body {
    background-color: #ffffff;
    margin: 100px 0 100px 0;
    padding: 0;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    margin-left: 3rem;
    margin-right: 3rem;
}

.contenedor-entrada {
    display: flex;
    color: #00001B;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 9rem;
    padding: 20px;
}

.h2-main{
    font-family: 'Jost-SemiBold700', sans-serif;
    font-size: 1.7rem;
    margin: 10px 0;
}

.h3-main{
    font-family: 'Jost-ExtraLight', sans-serif;
    font-size: 1.4rem;
    opacity: 0.7;
}

@media (max-width: 770px) {
    .card {
        width: calc(50% - 40px);
        margin: 20px 10px;
    }
}

@media (max-width: 480px) {
    .card {
        width: calc(100% - 40px);
        margin: 20px 0;
    }

    .contenedor {
        padding: 10px;
        gap: 20px;
    }

    .contenedor-entrada {
        padding: 10px;
    }

    .h2-main {
        font-size: 1.5rem;
    }

    .h3-main {
        font-size: 1.2rem;
    }
}

@media (max-width: 240px) {
    .card {
        width: 100%;
        margin: 10px 0;
        padding: 15px;
    }

    .contenedor {
        padding: 5px;
        gap: 10px;
    }

    .contenedor-entrada {
        padding: 5px;
    }

    .h2-main {
        font-size: 1.2rem;
    }

    .h3-main {
        font-size: 1rem;
    }
}