@font-face {
    font-family: 'Lato-Regular';
    src: url("../fonts/Lato/Lato-Regular.ttf");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url("../fonts/Lato/Lato-Light.ttf");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url("../fonts/Poppins/Poppins-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}

.cabecera-crud {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.contenedor-izquierda {
    flex-grow: 1;
}

.contenedor-derecha {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.h2-titulo {
    font-family: 'Lato-Regular', sans-serif;
    color: #00001B;
    font-size: 3rem;
    margin-left: 4rem;
}

.boton-agregar {
    border-radius: 10px;
    background-color: #ff6a64;
    font-size: 1.5rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: inline-flex;
    align-items: center;
    margin-right: 4rem;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(136,24,20,1);
    -moz-box-shadow: 0px 0px 6px 2px rgba(136,24,20,1);
    box-shadow: 0px 0px 10px 2px rgba(136,24,20,1);
}

.a-botones{
    font-family: 'Poppins-Medium', sans-serif;
    font-size: 1.5rem;
    margin: 0.5rem;
    text-align: right;
    color: #00001B;
    text-decoration: none;
}

.texto-centro{
    text-align: center;
}

.registro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    font-size: 1.8rem;
    color: #00001B;
    margin: 1rem 4rem 1rem 4rem;
    font-family: 'Lato-Regular', sans-serif;
    background-color: #ffa19d;
    -webkit-box-shadow: 3px 3px 6px 1px rgba(255,75,68,1);
    -moz-box-shadow: 3px 3px 6px 1px rgba(255,75,68,1);
    box-shadow: 3px 3px 6px 1px rgba(255,75,68,1);
}

.registro-info{
    font-family: 'Poppins-Medium', sans-serif;
    flex-grow: 1;
    font-size: 1.1rem;
}

.acciones {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-right: 15px;
}

.contenedor-eliminar,
.contenedor-editar,
.contenedor-desplegar {
    background-color: #ff6a64;
    border: 1px solid #ff4b44;
    padding: 3px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
}

.icono-agregar,
.icono-eliminar,
.icono-editar{
    color: #00001B;
}

.icono-desplegar{
    color: #00001B;
    margin-left: 6px;
}