{% extends 'layout.html.twig' %}

{% block body %}
        <a href="{{path('matchs')}}">
            <div>
                <i class="ti ti-soccer-field"></i>
                <h3>Partidos</h3>
            </div>
        </a>
{% endblock %}