{% extends 'layout.html.twig' %}

{% block body %}
    <div class="border border-white rounded text-center d-grid" style="height: 100%; width: 50%;">
        <a href="{{path('matchs')}}" class="text-white text-decoration-none fs-5">
            <i class="ti ti-soccer-field" style='font-size: 8rem;'></i>
            <h3>Partidos</h3>
        </a>
    </div>
{% endblock %}