{% extends 'layout.html.twig' %}

{% block body %}
    <a href="{{path('seasons')}}">
        <div>
            <i class="ti ti-calendar-time"></i>
            <h3>Temporadas</h3>
        </div>
    </a>
{% endblock %}
