{% extends 'layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/card.css') }}">
{% endblock %}

{% block body %}
    <a href="{{path('players')}}">
        <div class="card">
            <i class="ti ti-friends"></i>
            <h3>Jugadores</h3>
        </div>
    </a>
{% endblock %}
