{% extends 'layout.html.twig' %}

{% block body %}
    <a href="{{path('players')}}">
        <div>
            <i class="ti ti-friends"></i>
            <h3>Jugadores</h3>
        </div>
    </a>
{% endblock %}
