{% extends 'base.html.twig' %}

{% block body %}
    <div class="container" style="margin-top: 7em; margin-left: 1em">
        {% block content %}
        {% endblock content %}
    </div>
{% endblock %}