{% extends 'layout.html.twig' %}

{% block body %}
    <a href="{{path('users')}}">
        <div>
            <i class="ti ti-users"></i>
            <h3>Usuarios</h3>
        </div>
    </a>
{% endblock %}