{% for sport in pagination %}
    <div class="contenedor-principal">
        <div class="contenedor-expandir">
            <div class="expandible">
                <div class="contenedor-persona">
                    <span class="titulo-card"><h2>{{ sport.name }}</h2></span>
                    {% if sport.active == 0 %}
                    <span class="p-rol">Inactivo<p></span>
                    {% endif %}
                </div>
                <div class="iconos">
                    {% if is_granted('ROLE_DEVELOPER') or is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('sport_edit', {'id': sport.id}) }}" class="boton"><i class="ti ti-edit a-botones"></i></a>
                    {% endif %}
                    <span class="desplegar"><i class="ti ti-chevron-down a-botones"></i></span>
                </div>
            </div>
            <div class="contenedor-desplegable">
                <div class="contenedor-informacion-desplegable">
                    <div class="informacion">
                        <h3>Estado</h3>
                        {% if sport.active == 1 %}
                            <p>Activo</p>
                        {% else %}
                            <p>Inactivo</p>
                        {% endif %}
                    </div>
                    <div class="informacion">
                        <h3>Duración de un partido</h3>
                        {% if sport.duration == 1 %}
                            <p>{{ sport.duration }} minuto</p>
                        {% else %}
                            <p>{{ sport.duration }} minutos</p>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}