{% extends 'layout.html.twig' %}

{% block body %}
    <a href="{{path('sports')}}">
        <div>
            <i class="ti ti-ball-football"></i>
            <h3>Deportes</h3>
        </div>

    </a>
{% endblock %}

